@model IEnumerable<SistemaDeCheques.Models.RegistroSolicitudCheque>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Tittle = "Generar Cheques";
}

<h2>Generar Cheques</h2>


<p>
    @Html.ActionLink("Generar Cheques", "Create") |
    @Html.ActionLink("Anular Cheques", "Create")
</p>


    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Proveedores.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaCorrienteXCuentaContable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaContable)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (item.Estado.ToString().Equals("Pendiente"))
            {
                <tr>
                    <td>
                      <input class="check" id="@item.NumeroSolicitud" type="checkbox"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proveedores.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaRegistro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CuentaCorrienteXCuentaContable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CuentaContable)
                    </td>
                </tr>
            }
        }
    </table>

<button id="btnGenerar">Generar Solicitud</button>

<script>
    document.getElementById('btnGenerar').addEventListener('click', function () {
        var listado = document.getElementsByClassName('check');
        var listadoMarcado = [];

        for (var i = 0; i < listado.length; i++) {
            if (listado[i].checked) {
                listadoMarcado.push(parseInt(lsitado[i].id));
            }
        }

        SendToAction(listadoMarcado);
    });

    function SendToAction(data) {
        var datos = JSON.stringify(data);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                //Actualizar vista
            }
        };
        xhttp.open("Post", "RegistroSolicitudCheque/GenrrarCheques?id="+datos, true);
        xhttp.send();
    }
</script>
 